.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper label {
  margin-right: 0.5rem;
  margin-bottom: 0;
  max-width: 6.25rem;
}

.input-wrapper input,
.input-wrapper select {
  flex: 1;
}

.input-wrapper #expire {
  min-width: 6.25rem;
}
