.custom-img-size {
  width: auto;
  height: 18.75rem;
  object-fit: scale-down;
}

.card-hover:hover {
  cursor: pointer;
}

.style-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media (max-width: 555px) {
  .style-title {
    max-width: 150px;
  }
}
